<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Image Task Example</title>
    <meta charset="utf-8">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- My Project CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Main JS Files -->
    <script src="/js/AnswerCheck.js"></script>
    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/f9199bcaa3.js"></script>
</head>

<body id="topSection">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <div class="show">
                    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="validateCheck()">
                        Submit
                    </button>
                    <button type="button" class="fas fa-arrow-circle-right btn btn-secondary" id="toggableButton1" onclick="changeQuestions()"></button>
                </div>

            </div>
        </div>
    </div>

    <h1>Questions</h1>
    <form action="#" method="post">

        <script type="text/javascript" src="/js/AnswerCheck.js"></script>
        <script type="text/javascript" src="/js/CreateResponse.js"></script>
        <script type="text/javascript" src="/js/ReadImageTask.js"></script>

        Hello!
        <b id="image"> </b>

        <b id="plane"> </b>
        <b id="planeCorrect"> </b>


        <b id="structure0"> </b>
        <b id="structure0Correct"> </b>

        <b id="structure1"> </b>
        <b id="structure1Correct"> </b>

        <b id="structure2"> </b>
        <b id="structure2Correct"> </b>

        <b id="structure3"> </b>
        <b id="structure3Correct"> </b>


        <b id="attachment0"> </b>
        <b id="attachment0Correct"> </b>

        <b id="attachment1"> </b>
        <b id="attachment1Correct"> </b>

        <b id="attachment2"> </b>
        <b id="attachment2Correct"> </b>

        <b id="attachment3"> </b>
        <b id="attachment3Correct"> </b>


        <b id="zone"> </b>
        <b id="zoneCorrect"> </b>

        <br>

        <b id="submitButton">
            <button type="button" onclick="checkAnswers(form)">
                Submit
            </button>
        </b>

        <b id="nextQuestionButton">
            <button type="button" onclick="changeQuestions()">
                Next Question set
            </button>
        </b>



    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    </form>
</body>
</html>