<!DOCTYPE html>
<html>

<head>
    <title>PAR ImageTask</title>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- My Project CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Main JS Files -->
    <script type="text/javascript" src="/js/CompleteDisplay.js"></script>
    <script type="text/javascript" src="/js/PageDisplay.js"></script>
    <script type="text/javascript" src="/js/ImageTaskDisplay.js"></script>
    <script type="text/javascript" src="/js/CommUtil.js"></script>
    <script type="text/javascript" src="/js/ScoreDisplay.js"></script>
    <script type="text/javascript" src="/js/QuestionAreaDisplay.js"></script>
    <script type="text/javascript" src="/js/Response.js"></script>
    <script type="text/javascript" src="/js/PageImage.js"></script>
    <script type="text/javascript" src="/js/InputDatalistResponseBoxDisplay.js"></script>
    <script type="text/javascript" src="/js/Modernizr.js"></script>
    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/f9199bcaa3.js"></script>
</head>

<body>
    <script>
        userID = "[[${User}]]";
        let completeDisplay = new CompleteDisplay();
        completeDisplay.userID = userID;
        completeDisplay.createPageDisplay();
    </script>

    <!-- Nav Bar -->
    <div class="container-fluid">
        <div class="row bg-light">
            <div class="col-1"></div>
            <div class="col-2">
                <img src="/images/ParLogo.png" height="90%" width="70%" class="imgCenter img-fluid" alt="PAR_logo">
            </div>
            <div class="col-3 colVertCenter">
                <i><b id="scoreTag">Knowledge Base: </b></i>
                <div id="score"> </div>
            </div>
            <div class="col-3 colVertCenter">
                <i><b class="size20">User ID: </b></i>
                <div id="UserId" class="size20"> </div>
            </div>
            <div class="col-1"></div>
            <div class="col-2 colVertCenter">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" id="submitAuthorButton" onclick="completeDisplay.pageDisplay.authorSubmitFinal()">
                        Add Questions to Pool
                    </button>
                    <button type="button" class="btn btn-primary" id="logoutButton" onclick="completeDisplay.pageDisplay.logout()">
                        Logout
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Image Task -->
    <div class="container-fluid">
        <br />
        <div class="row">
            <div class="col-1"></div>

            <div class="col-6 imgCenter">
                <div id="canvasArea"> </div>
            </div>

            <div class="col-4">
                <br />
                <h1 class="text-center"> Question Set</h1>
                <form action="#" method="post" id="questionSetForm">
                    <div id="questionSet"> </div>
                </form>
                <br>
                <i id="helpfulFeedback" class="text-center"> </i>
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="show">
                            <i id="submitButtonTag">
                                <button type="button" class="btn btn-primary" id="submitButton" onclick="completeDisplay.pageDisplay.imageTaskDisplay.submitAnswers()">
                                    Submit
                                </button>
                                <button type="button" class="btn btn-primary" id="authorReviewSubmitButton" onclick="completeDisplay.pageDisplay.authorSubmitFinal()">
                                    Submit
                                </button>
                            </i>
                            <button type="button" class="fas fa-arrow-circle-right btn btn-outline-dark" id="nextQuestionButton" onclick="completeDisplay.nextQuestion()"></button>
                            <i id="errorFeedback"> </i>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <i id="Ids"> </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <script>
        completeDisplay.setPageDisplayIsAuthor();
        completeDisplay.displayUserId();
        completeDisplay.showScoreInner();
        completeDisplay.nextImageTask();
    </script>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
