<!DOCTYPE html>
<html>

<head>

    <title>Image Task Example</title>
    <meta charset="utf-8">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- My Project CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Font Awsome -->
    <script src="https://kit.fontawesome.com/f9199bcaa3.js"></script>


</head>

<body id="topSection">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Main Content -->
    <div class="container-fluid">
        <br />
        <div class="row">
            <div class="col-12">
                <img class="imgCenter" src="../static/images/leg.jpg">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                <b id="questionOne">Question 1. Is the picture Transverse or Longitudinal?</b><i id="statusOne"> </i>
                <form name="q1">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="q11" value="correct">
                        <label class="form-check-label" for="option1radio">
                            Transverse
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="q12" value="incorrect">
                        <label class="form-check-label" for="option2radio">
                            Longitudinal
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                <b id="questionTwo">Question 2. Is the highlighted structure in the near field or far field?</b><i id="statusTwo"> </i>
                <form name="q2">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="q21" value="correct">
                        <label class="form-check-label" for="option1radio">
                            Near
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="q22" value="incorrect">
                        <label class="form-check-label" for="option2radio">
                            Far
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                <b id="questionThree">Question 3. What Zone is this ultrasound in?</b><i id="statusThree"> </i>
                <form name="q3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="q31" value="incorrect">
                        <label class="form-check-label" for="option1radio">
                            1A
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="q32" value="correct">
                        <label class="form-check-label" for="option2radio">
                            1B
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="q33" value="incorrect">
                        <label class="form-check-label" for="option3radio">
                            2A
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="q34" value="incorrect">
                        <label class="form-check-label" for="option4radio">
                            2B
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="q35" value="incorrect">
                        <label class="form-check-label" for="option5radio">
                            3A
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="q36" value="incorrect">
                        <label class="form-check-label" for="option6radio">
                            3B
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="q37" value="incorrect">
                        <label class="form-check-label" for="option7radio">
                            3C
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">


            <script src="../static/js/AnswerCheckControl.js"></script>

            <!-- Button trigger modal -->
            <div class="col-12 text-center">
                <div class="show">
                    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="displayFeedback(generateFeedbackPerQuestion(q11.checked,q21.checked,q32.checked))" data-target="#modal">
                        Submit
                    </button>
                </div>
                <div class="hide">
                    <button type="button" class="fas fa-arrow-circle-left btn btn-secondary" href="#"></button>
                    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="alternateFeedbackGenerator(q11.checked,q21.checked,q32.checked)">
                        Submit
                    </button>
                    <button type="button" class="fas fa-arrow-circle-right btn btn-secondary" id="toggableButton" href="ImageTaskCreationPage2Example.html"></button>
                </div>
            </div>
            <br />
            <br />
            <br />
            <!-- Correct Modal -->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Were you Correct??</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <b id="answer">zip zorp! something borked :/</b>

                        </div>
                        <div class="modal-footer">
                            <a type="button" class="fas fa-arrow-circle-right btn btn-primary" id="toggableButton" href="ImageTaskCreationPage2Example.html"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Extensions JS -->
    <script src="js/extensions.js"></script>

</body>

</html>
