<!DOCTYPE html>
<html>

<head>
    <title>Image Task</title>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- My Project CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Main JS Files -->
    <script type="type/javascript" src="/js/Login.js"></script>
</head>

<body>
    <div class="container-fluid">
        <br />
        <div class="row">
            <div class="col-12 center underline">
                <h2>Welcome to the P.A.R. System!</h2>
            </div>
            <div class="col-12">
                <img src="#" class="imgCenter" alt="PAR_logo">
            </div>

        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form name="userIDinput">
                    <div class="form-group">
                        <label for="userID">User ID</label>
                        <input type="userId" class="form-control" id="inputId" aria-describedby="idHelp" placeholder="Enter User ID">
                        <small id="idHelp" class="form-text text-muted">A PAR Employee will never ask for your password.</small>
                    </div>
                </form>
            </div>
            <div class="col-1 colVertCenter">
                <script>

                </script>
                <form method="GET" action="/imageTaskView" +login()>
                    <input class="btn btn-primary" type="submit" value="Login" />
                </form>
            </div>
        </div>
    </div>





    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
