<!DOCTYPE html>
<html>

<head>
    <title>PAR System Login</title>

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- My Project CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Main JS Files -->
    <script type="text/javascript" src="/js/Login.js"></script>
</head>

<body>
    <div class="container-fluid">
        <br />
        <div class="row">
            <div class="col-12 center">
                <h2>Welcome to the Practice, Assessment, Review System!</h2>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-12 col-md-4">
                <img src="/images/ParLogo.png" class="imgCenter img-fluid" alt="PAR_logo">
            </div>
            <div class="col-12 col-md-3 rounded border border-dark">
                <b>Login</b>
                <div class="row">
                    <div class="col-12 col-md-5">
                        <form name="userIDinput">
                            <div class="form-group">
                                <label>User ID</label>
                                <input type="userId" class="form-control" id="inputId" aria-describedby="idHelp" placeholder="Enter User ID" onkeydown="enterSubmit()">
                                <small id="idHelp" class="form-text text-muted"> </small>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-2 text-center">
                        <button type="button" class="btn btn-primary" id="submitButton" onclick="login()">
                            Login
                        </button>

                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <script>
        setBottomText();
    </script>


    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body></html>
