<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test123</title>
    <script type="text/javascript" src="../static/js/CompleteDisplay.js"></script>
    <script type="text/javascript" src="../static/js/PageDisplay.js"></script>
    <script type="text/javascript" src="../static/js/ImageTaskDisplay.js"></script>
    <script type="text/javascript" src="../static/js/CommUtil.js"></script>
    <script type="text/javascript" src="../static/js/ScoreDisplay.js"></script>
    <script type="text/javascript" src="../static/js/QuestionAreaDisplay.js"></script>
    <script type="text/javascript" src="../static/js/Response.js"></script>
    <script type="text/javascript" src="../static/js/PageImage.js"></script>
    <script type="text/javascript" src="../static/js/InputDatalistResponseBoxDisplay.js"></script>
    <script type="text/javascript" src="../static/js/Modernizr.js"></script>
</head>
<body>

<div id="canvasArea"> </div>
<div id="questionSet"> </div>
<i id="Ids"> </i>

<button type="button" class="btn btn-primary" id="submitButton" onclick="completeDisplay.pageDisplay.imageTaskDisplay.submitAnswers()">
    Submit
</button>
<button type="button" class="btn btn-primary" id="authorReviewSubmitButton" onclick="completeDisplay.pageDisplay.authorSubmitFinal()">
    Submit
</button>

<script>
    document.getElementById("authorReviewSubmitButton").classList.add("hide");
    let listOfImageTasks = readJson("../author/SampleListOfImageTasks.json");
    let imageTaskSettings = {
        unsureShowsCorrectAnswer: "False",
        feedbackByType: {"plane": "Look at chapter 12",
            structure: "View notes from 9/25",
            attachment: "Read Page 394",
            zone: "Rewatch <a href=https://www.youtube.com/watch?v=dQw4w9WgXcQ> this video </a>"},
        ableToResubmitAnswers: "True",
        mustSubmitAnswersToContinue: "False",
        canGiveNoAnswer: "True",
        willDisplayFeedback: "False"
    };

    enterAuthorReview(listOfImageTasks, "author", imageTaskSettings, true)
</script>
</body></html>