<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PAR: Student View</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/f9199bcaa3.js"></script>


    <script type="text/javascript" src="/js/Modernizr.js"></script>
    <script type="text/javascript" src="/js/comm/RealServerComm.js"></script>
    <script type="text/javascript" src="/js/StudentController.js"></script>
    <script type="text/javascript" src="/js/comm/ImageTaskResponse.js"></script>
    <script type="text/javascript" src="/js/ImageTaskController.js"></script>
    <script type="text/javascript" src="/js/ImageController.js"></script>
    <script type="text/javascript" src="/js/QATreeController.js"></script>
    <script type="text/javascript" src="/js/QuestionAndAnswerController.js"></script>
    <script type="text/javascript" src="/js/QuestionController.js"></script>
    <script type="text/javascript" src="/js/AnswerController.js"></script>
    <script type="text/javascript" src="/js/comm/QuestionResponse.js"></script>
    <script type="text/javascript" src="/js/ScoreController.js"></script>

    <script>
        $(document).ready(function() {
            let userId = "[[${userId}]]";
            let controller = new StudentController(userId, new RealServerComm());
            document.getElementById('studentArea').appendChild(controller.element);
            document.getElementById('scoreArea').appendChild(controller.scoreElement);

            //why do I need these?
            let responseCall = function(){controller.submitCurrentResponse()};
            let nextCall = function(){controller.loadNextImageTask()};
            let logoutCall = function(){controller.logout()};


            //Handlers
            $('#submit').on('click', responseCall);
            $('#next').on('click', nextCall);
            $('#logout').on('click', logoutCall);

        });

    </script>
</head>

<body>
<!-- Nav Bar -->
<div class="container-fluid">
    <div class="row bg-light">
        <div class="col-1"></div>
        <div class="col-2">
            <img src="/images/ParLogo.png" height="90%" width="70%" class="imgCenter img-fluid" alt="PAR_logo">
        </div>
        <div class="col-3 colVertCenter">
            <i><b id="scoreArea">Progress: </b></i>
            <div id="score"> </div>
        </div>
        <div class="col-3 colVertCenter">
            <i><b class="size20">User ID: </b></i>
            <div id="UserId" class="size20"> </div>
        </div>

        <div class="col-3 colVertCenter">
            <button type="button" class="btn btn-dark" id="logout"> Logout </button>
        </div>
    </div>
</div>
<div id="studentArea"></div>
<div id="bottomButtons">
    <div class="row">
        <div class="col-7"></div>
        <div class="col-4">
            <button type="button" class="btn btn-login" id="next"> next </button>
            <button type="button" class="btn btn-login" id="submit"> submit </button>
        </div>
    </div>
</div>
<!-- used for getting Bootstrap to work, needs jQuery, Popper.js, and bootstrap own JS plugins to work -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>